<mat-card>
  <h1>Welcome to Ambit!</h1>
</mat-card>
<mat-card>
  <h3>What is Ambit?</h3>
<p>
  <mat-card>
    <strong>
      <a href="https://www.dictionary.com/browse/ambit?s=t" target="blank">ambit [am·​bit]: </a> <i>noun</i>
    </strong>
    <i>
      <ol>
        <li>
          circumfrance; circuit.
        </li>
        <li>
          boundry; limit.
        </li>
        <li>
          a sphere of operation or influence; range; scope.
        </li>
      </ol>
    </i>
  </mat-card>
</p>
  <p>Heyyyyyy Uncle Father Oscar. Let me take off my assistant's skirt and put on my Barbra-Streisand-in-The-Prince-of-Tides ass-masking therapist pantsuit.

    O-kay, who'd like a banger in the mouth? I was hoping he would be gifted sexually. Oh…yeah…the guy in the…the $4,000 suit is holding the elevator for a guy who doesn't make that in three months. Come on! I don't want no part of yo tight-ass country-club, ya freak bitch! Steve Holt? The moron jock? Bob Loblaw Law Blog.

    A trick is something a whore does for money… or cocaine. Pound is tic-tac-toe right? For there's a man inside me, and only when he's finally out, can I walk free of pain. No. I was ashamed to be _seen_ with you. I like being with you. No, it's the opposite. It's like my heart is getting hard. Either I zip down, or he zips up, and that is a mighty long zipper on Mother's Cher jumpsuit.</p>
</mat-card>
<mat-card>
  <h3>Getting Started</h3>
  <P>A trick is something a whore does for money… or cocaine. Pound is tic-tac-toe right? For there's a man inside me, and only when he's finally out, can I walk free of pain. No. I was ashamed to be _seen_ with you. I like being with you. No, it's the opposite. It's like my heart is getting hard. Either I zip down, or he zips up, and that is a mighty long zipper on Mother's Cher jumpsuit. Hair up, glasses off. The worst that could happen is that I could spill coffee all over this $3,000 suit. COME ON. The CIA should've just Googled for his hideout, evidently. I will pack your sweet pink mouth with so much ice cream you'll be the envy of every Jerry and Jane on the block! I'm going to buy you the single healthiest call girl this town has ever seen. What a fun, sexy time for you. Mister gay is bleeding! Mister gay!</P>
</mat-card>
