<mat-toolbar>
  <span class="flex"></span>
  <span>Ambit</span>
  <span>
    <mat-nav-list>
      <mat-list-item>
        <mat-icon (click)="collapse()">menu</mat-icon>
      </mat-list-item>
    </mat-nav-list>
  </span>
</mat-toolbar>
<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" opened [fixedInViewport]="true">
    <mat-nav-list>
      <mat-list-item (click)="navigate('new')"> <span *ngIf="!condensed">New Ambit</span>
        <mat-icon>add_circle_outline</mat-icon>
      </mat-list-item>
      <mat-list-item (click)="navigate('saved')"> <span *ngIf="!condensed">My Saved Ambits</span>
        <mat-icon>save</mat-icon>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item (click)="navigate('about')"> <span *ngIf="!condensed">About Ambit</span>
        <mat-icon>info</mat-icon>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item (click)="condense()">
        <mat-icon *ngIf="!condensed">keyboard_arrow_left</mat-icon>
        <mat-icon *ngIf="condensed">keyboard_arrow_right</mat-icon>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <p></p>
    <ng-container *ngIf="newAmbit">
      <app-ambit-workflow></app-ambit-workflow>
    </ng-container>
    <ng-container *ngIf="savedAmbits">
    </ng-container>
    <ng-container *ngIf="about">
      <app-ambit-about></app-ambit-about>
    </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>
